@import "tailwindcss";
@import "tw-animate-css";

@font-face {
  font-family: "Clear Sans";
  src: url("../assets/fonts/ClearSans-Regular.woff2") format("woff2"),
    url("../assets/fonts/ClearSans-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Clear Sans";
  src: url("../assets/fonts/ClearSans-Bold.woff2") format("woff2"),
    url("../assets/fonts/ClearSans-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@theme {
  --font-sans: "Clear Sans", sans-serif;
}
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);

  --color-primary-400: var(--primary-400);
  --color-primary-500: var(--primary-500);
  --color-primary-600: var(--primary-600);
  --color-surface: var(--surface);

  --color-primary-foreground: var(--primary-foreground);

  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);

  --color-accent-400: var(--accent-400);
  --color-accent-500: var(--accent-500);
  --color-accent-600: var(--accent-600);
  --color-accent-foreground: var(--accent-foreground);

  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-destructive-400: var(--destructive-400);

  --color-destructive-500: var(--destructive-500);
  --color-destructive-600: var(--destructive-600);
  --color-destructive-foreground: var(--destructive-foreground);

  --color-tile-border: var(--tile-border);
  --color-border: var(--border);

  --color-input: var(--input);

  --color-ring: var(--ring);

  --color-tile-correct: var(--tile-correct);
  --color-tile-present: var(--tile-present);
  --color-tile-absent: var(--tile-absent);
  --color-tile-empty: var(--tile-empty);
  --color-key: var(--key);
}

:root {
  --background: #f9fafb;
  --foreground: #1f2937;

  --card: #ffffff;
  --card-foreground: #1f2937;
  --primary-400: #7fb6f9;

  --primary-500: #60a5fa;
  --primary-600: #3380df;
  --primary-foreground: #f9fafb;

  --secondary: #e2e8f0;
  --secondary-foreground: #1f2937;
  --surface: #ababab;

  --accent-400: #54d47b;

  --accent-500: #3cc966;
  --accent-600: #2c964b;
  --accent-foreground: #1e3a8a;

  --muted: #f3f4f6;
  --muted-foreground: #b8b8b8;
  --destructive-400: #f66969;

  --destructive-500: #ef4444;
  --destructive-600: #c93232;

  --destructive-foreground: #eeb5bb;
  --border: #707274;
  --input: #e5e7eb;
  --ring: #60a5fa;

  /* Game colors */
  --tile-correct: #6aaa64;
  --tile-present: #c9b458;
  --tile-absent: #696c6e;
  --key: #47494a;
  --tile-border: #666666;

  --tile-empty: #d3d6da;
  --key: #e2e8f0;
}

@layer base {
  body {
    @apply bg-background overflow-hidden w-full h-dvh  text-foreground font-mono;
  }
  main {
    @apply h-full  min-h-full;
  }

  h1,
  h2,
  h3 {
    @apply font-sans  font-bold;
  }
}

@layer components {
  .tile {
    background-color: var(--tile-color, var(--color-tile-default));
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: x-large;
  }
  .tile-container {
    @apply w-9 h-9 md:w-13 md:h-13 p-0.5 bg-tile-border;
  }
  .btn {
    @apply text-white py-2 px-5 active:translate-y-[3px];
  }
  .btn-primary {
    @apply bg-primary-500
           shadow-[0_6px_0_var(--color-primary-600)] 
           active:shadow-[0_1px_0_var(--color-primary-600)];
  }

  .btn-accent {
    @apply bg-accent-400
           shadow-[0_6px_0_var(--color-accent-600)]
           active:shadow-[0_1px_0_var(--color-accent-600)];
  }
  .btn-secondary {
    @apply bg-foreground text-black
           shadow-[0_6px_0_var(--color-muted-foreground)]
           active:shadow-[0_1px_0_var(--color-muted-foreground)];
  }
  .btn-destructive {
    @apply bg-destructive-400
           shadow-[0_6px_0_var(--color-destructive-600)]
           active:shadow-[0_1px_0_var(--color-destructive-600)];
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #121213;
    --foreground: #f9fafb;

    --card: #1a1a1a;
    --card-foreground: #f9fafb;

    --primary-foreground: #f9fafb;

    --secondary-foreground: #f9fafb;
    --surface: #202020;

    --accent-foreground: #1e3a8a;

    --muted: #1f2937;
    --muted-foreground: #a8aaac;

    --border: #a0a3a5;

    --input: #27272a;
    --tile-absent: #3a3a3c;
    --tile-border: #666666;
    --key-unused: #47494a;
    --key: #818385;
  }
}
